.headBox {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 3.8em;
    background-color: antiquewhite;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.headson1 {
    background-color: beige;
    height: 100%;
    width: 10%;
    text-align: center;
}

.headson2 {
    text-align: center;
    background-color: beige;
    height: 59px;
    width: 40%;
    position: absolute;
    right: 8px;
    top: 0px;
}

.headgrandson1 {
    width: 30%;
    display: inline-block;
    padding-top: 20px;
    font-size: large;
    color: darkmagenta;
}

.headgrandson2 {
    margin-left: 2%;
    width: 30%;
    display: inline-block;
    padding-top: 20px;
    font-size: large;
    color: darkmagenta;
}

.headgrandson3 {
    margin-left: 2%;
    width: 30%;
    display: inline-block;
    padding-top: 20px;
    font-size: large;
    color: darkmagenta;
}

.end {
    margin-top: 10%;
    background-color: bisque;
    width: 100%;
    height: 65px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.endson {
    padding-top: 25px;
    text-align: center;
    font-size: larger;
}

.playm {
    width: 50%;
    height: 350px;
    margin-top: 2%;
    margin-left: 25%;
    /* opacity: 50%; */
    background: rgba(0, 0, 0, 0);
}

.play1 {
    text-align: center;
    width: 31%;
    height: 100%;
    background-color: antiquewhite;
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: blueviolet;
}

.play1:hover {
    color: red;
    cursor: pointer;
}

.play2 {
    text-align: center;
    width: 33%;
    height: 100%;
    background-color: antiquewhite;
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: blueviolet;
}

.play2:hover {
    color: red;
    cursor: pointer;
}

.play3 {
    text-align: center;
    width: 31%;
    height: 100%;
    background-color: antiquewhite;
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: blueviolet;
}

.play3:hover {
    color: red;
    cursor: pointer;
}

.playtext {
    padding-top: 140px;
}

a {
    text-decoration: none;
    color: blueviolet;
}

a:hover {
    color: red;
}

.popup {
    margin-top: 100px;
    height: 60px;
    background-color: antiquewhite;
    opacity: 0;
    margin-left: 35%;
    width: 30%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: red;
    font-size: large;
}

.popup:hover {
    cursor: default;
}